.header__sublist-title {
    margin: 0;
}

.header__sublist {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    background: #52B788;
    margin-left: 65px;
    margin-top: 20px;
}


.header__sublist--hidden {
    display: none;
}