.catalog {
    width: 1200px;
    margin: 0 auto;
}

.catalog__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.catalog__card {
    width: 380px;
    height: 300px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: #52B788;
}

.catalog__card:nth-child(3n) {
    margin-right: 0;
}